#contact h1 {
    margin-bottom: 70px;
    margin-top: 200px;
    font-family: 'Roboto';
    width: intrinsic;           /* Safari/WebKit uses a non-standard name */
    width: -moz-max-content;    /* Firefox/Gecko */
    width: -webkit-max-content; /* Chrome */
    border-bottom: 4px solid #cc7830;
    color: #c5c5c5;
    font-size: 4em;
}

#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}

#contact-grid {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 25%;
}

#contact i {
    margin: 0;
    border-radius: 100%;
    box-sizing: border-box;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact-grid i:hover {
    color: #e1f2fe;
    border: 2px solid #dcf763;
}

#contact #github {
    background: #2d7dd2;
    padding: 1px;
}

#contact #linkedin {
    background: #5b8c5a;
    padding: 20px;
}

#contact #email {
    background: #dd6e42;
    padding: 20px;
}

@media only screen and (max-width: 767px) {
    #contact h1 {
        margin-top: 70px;
    }

    #contact-grid {
        padding: 15px;
    }
}