#content {
    background-image: url("../code_blurred.jpg");
    background-size: cover;
    width: 100%;
}

#pusher {
    min-height: 385px;
    overflow: hidden;
}

#content span {
    color: #cc7830;
}

#content h1 {
    font-family: 'Courier';
    color: #e1f2fe;
}

@media only screen and (max-width: 767px) {
    #content {
        box-sizing: border-box;
        padding-top: 4em;
        text-align: center;
    }
}

@media only screen and (min-width: 768px) {
    #content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 8em;
    }

    #content h1 {
        font-size: 3em;
    }

    h1 {
        padding-top: .5em;
        font-size: 4em;
    }
}